.bingoTable-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    width: 70%;
    height: 100vh;
    /* transform: scale(0.7); */
}

body {
    background-color: #ede0d4;
}
